body {
  background-color: #f2f2f2;
  padding: 5px;
  border-style: dashed;
  border-width: 3px;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  border-style: solid;
  background-color: none;
  padding: 5px;
  margin: 10px 50px 50px 50px;
  display: inline-block;
}

img {
  display: block;
  padding: 15px;
  margin-left: 45px;
  width: 300px;
  height: 300px;
  border-style: solid;
  background-color: none;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #ec0c41;
}

.container {
  margin-left: 45px;
}

.color-changer {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 90%;
  background-color: #000;
  color: #c5f503;
}
